<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>IOC sharing platform</title>
    <meta name="description" content="Blockchain-based IOC sharing platform">
    <meta name="Mario">

    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css'%}">
    <script src="{% static 'index.js'%}"></script>
    <script src="{% static 'sawtooth_sdk.js'%}"></script>
</head>

<body>
    <div id="nav_bar">
        <h1><a href="http://localhost:8081/ioc">IOC Sharing Platform</a></h1>
        <div class = "github" onclick='location.href="https://github.com/MarioPalomaresGallego/IOC-Transaction-Family"'>
            <img src="{% static 'images/github.png'%}">
            <p>Github Repo</p>
        </div>
        <a class="contribute_link" onclick="contribute(1)">Contribute</a>
    </div>
    <div class="info_selector">
        <ul class="radio">
            <li>
                <input type="radio" value="1" name="info" id="real_time" checked = "checked"/>
                <label onclick=change_content(1) for="real_time">Real Time Submissions</label>
            </li>
            <li>
                <input type="radio" value="2" name="info" id="contributions" checked = "checked"/>
                <label onclick=change_content(2) for="contributions">Contributions</label>
            </li>
        </ul>
    </div>
    <div class="search">
        <ul class="radio"> 
            <li>
                <input type='radio' value='md5' name='hash' id='hash1' checked="checked"/>
                <label for='hash1'>md5</label>
            </li>
            <li>
                <input type='radio' value='sha1' name='hash'  id='hash2'/>
                <label for='hash2'>sha1</label>
            </li>
            <li>
                <input type='radio' value='sha256' name='hash'  id='hash3'/>
                <label for='hash3'>sha256</label>
            </li>
        </ul>
        <select name="status" id="status" selected="all">
            <option value="all">ALL</option>
            <option value="PENDING">PENDING</option>
            <option value="COMMITTED">COMMITTED</option>
            <option value="INVALID">INVALID</option>
            <option value="UNKNOWN">UNKWONN</option>
        </select>
        <input id="search_bar" type="search" placeholder="File hash. e.g. [md5] 912ec803b2ce49e4a541068d495ab570">
        <div id="clear" onclick=_clear()>&#x2715;</div>
        <input id="search_submit" type="submit" value="Search" onclick=search()>
    </div>



    <div id="table_submissions">
        <div id="headers" class="tr">
            <p class="td td_1"></p>
            <p class="td td_2">Machine</p>
            <p class="td td_3">Sandbox</p>
            <p class="td td_4">Type</p>
            <p class="td td_5">FileHash</p>
        </div>
        <hr>
        {% for report in report_list%}
        <div class="tr content" show="true">
            <a href="http://localhost:8081/ioc/download/?tx_id={{report.tx_id}}" class="td td_1" download="{{report.tx_id}}.json">
                <img class = "download" src="{% static 'images/download.png'%}">
            </a>
            <div class="report_info" onclick=details("{{report.tx_id}}","{{report.sha256}}")>
                <div class = "info td td_2">
                    <img class = "win_img" src="{% static 'images/windows.png'%}">
                    <div>
                        <p class="machine">{{ report.machine }}</p>
                        <p class="date">{{ report.date}}</p>
                    </div>
                </div>
                <div class="td td_3 sandbox">
                    {{ report.sandbox }}
                </div>
                <div class="td td_4 type">{{ report.type }}</div>
                <div class = "hash td td_5">
                    <div>
                        <p>MD5:</p>
                        <p class = "md5">{{ report.md5 }}</p>
                    </div>
                    <div>
                        <p>SHA1: </p>
                        <p class ="sha1">{{ report.sha1 }}</p>
                    </div>
                    <div>
                        <p>SHA256: </p>
                        <p class ="sha256">{{ report.sha256 }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

    <div id="table_uploads">
        <div class="upload_headers tr">
            <p class="td">Sample Name</p>
            <p class="td">Behavioural Report Name</p>
            <p class="td">Date</p>
            <p class="td">State</p>
        </div>
        <hr>
        {% for i in uploads %}
        <div show="true" class="upload tr" style="display:block">
            <p class="sample td">{{ i.sample_name }}</p>
            <p class="report td">{{ i.report_name }}</p>
            <p class="date td">{{ i.date }}</p>
            <p batch_id = "{{ i.batch_id }}" class="status td">{{ i.status }}</p>
        </div>
        {% endfor %}
    </div>

    <div class="pages">
        <p id="left" onclick=change_page("left")>«</p>
        <ul class="radio page_num">
            {% for i in pages %}
            <li>
                <input type='radio' value='{{i}}' name='page' id="page{{i}}"/>
                <label onclick=change_page("page",this.innerHTML-1) for="page{{i}}">{{i|add:"1"}}</label>
            </li>
            {% endfor %}  
        </ul>
        <p id="right" onclick=change_page("right")>»</p>
    </div>
    <div id = "background_black">
    </div>
    <div id="contribute">
        <div id="contribute_heading">
            <p>Contribute</p>
            <p onclick=contribute(0)>&#x2715;</p>
        </div>
        <form method = "post" id="contribute_form" name="contribute_form" enctype="multipart/form-data" onsubmit="upload();return false;">
            {% csrf_token %}
            <label for="report">Select the behavioural report file:</label>
            <input type="file" id="report" name="report" required>
            <label for="sample">Select the sample file:</label>
            <input type="file" id="sample" name="sample" required>
            <input type="submit" value="Submit" id="submit">
        </form>
        <div id="loading">
            <img src="{% static 'images/loading.gif'%}">
        </div>
        <div id="success">
            <img src="{% static 'images/success.png'%}">
            <p>File Uploaded</p>
        </div>
        <div id="error">
            <img src="{% static 'images/bug.png'%}">
            <p>An error has occurred</p>
            <p>Try again later</p>
        </div>
    </div>


</body>
</html>