<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>IOC sharing platform</title>
    <meta name="description" content="Blockchain-based IOC sharing platform">
    <meta name="Mario">

    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css'%}">
    <script src="{% static 'index.js'%}"></script>
</head>

<body>
    <div id="nav_bar">
        <h1>IOC Sharing Platform</h1>
        <a onclick="contribute(1)">Contribute</a>
        <div onclick='location.href="https://github.com/MarioPalomaresGallego/IOC-Transaction-Family"'>
            <img src="{% static 'images/github.png'%}">
            <p>Github Repo</p>
        </div>
    </div>

    <table>
        <tr>
            <th>Machine</th>
            <th>Sandbox</th>
            <th>Type</th>
            <th>FileHash</th>
        </tr>
        {% for report in report_list %}
        <tr>
            <td>
                <div>
                    <img src="{% static 'images/windows.png'%}">
                    <p>{{ report.machine }}</p>
                    <p>{{ report.date}}</p>
                </div>
            </td>
            <td>
                {{ report.sandbox }}
            </td>
            <td>{{ report.type }}</td>
            <td>
                <div>
                    {{ report.sha1 }}
                    {{ report.sha256 }}
                    {{ report.sha512 }}
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div id = "background_black">
    </div>
    <div id="contribute">
        <div id="contribute_heading">
            <p>Contribute</p>
            <p onclick=contribute(0)>&#x2715;</p>
        </div>
        <form id="contribute_form" onsubmit="upload();return false;">
            {% csrf_token %}
            <label for="behavioural">Select the behavioural report file:</label>
            <input type="file" id="behavioural">
            <label for="sample">Select the sample file:</label>
            <input type="file" id="sample">
            <input type="submit" value="Submit" id="submit">
        </form>
        <div id="loading">
            <img src="{% static 'images/loading.gif'%}">
        </div>
        <div id="success">
            <img src="{% static 'images/success.png'%}">
            <p>File Uploaded</p>
        </div>
    </div>
</body>
</html>