#nav_bar{
    background-color: rgb(72, 104, 134);
}

#nav_bar h1{
    margin-top:1%;
    margin-bottom:1%;
    display:inline-block;
    margin-left:2%;
    color: azure;
}

#nav_bar a{
    color:azure;
    cursor:pointer;
    text-decoration: none;
}

.contribute_link{
    float:right;
    margin-top: 2%;
    margin-left:2%;
}

.github{
    margin-left: 2%;
    width:10%;
    cursor:pointer;
    float:right;
    margin-top: 0.8%;
    margin-right: 4%;
}

.github img{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3%
}

.github p{
    color:azure;
    display:inline-block;
}

.github{
    cursor: pointer;
}

.info_selector ul{
    text-align:center;
    width:100%;
    margin-top:0;
}
.info_selector li{  
    float:left;
    width:50%;
}
.info_selector label{
    display:inline-block;
    width:100%;
    padding-top:2%;
    padding-bottom:2%;
    background-color:#c9edfb;
    border-color: rgb(15, 23, 92);
    border-style:solid;
    border-width:1px;
    margin:0 !important;
    border-radius:0 0 8px 8px;
    cursor:pointer;
}

.info_selector input:checked + label { 
    background-color: #78d9ff;
}

.search{
    margin-left:14%;
}

.radio{
    padding-left:0;
    list-style: none;
    display: inline-block;
}
.radio li {
    cursor:pointer;
    display: inline-block;
}

.radio input{
    display:none;
}

.search ul input:checked + label {
    background-color: rgb(161, 203, 241);
}

.search label{
    cursor:pointer;
    margin-left: 1%;
    margin-top:0;
    margin-bottom:0;
    padding:7px;
    border-radius:5px;
    border-color: rgb(0, 102, 255);

}

#search_bar{
    padding-left: 1%;
    margin-left:3%;
    width:54%;
    height: 27px;
    border-radius: 5px;
}

#clear{
    display: inline;
    margin-left: -2%;
    cursor:pointer;
}

#search_submit{
    width: 6%;
    height: 30px;
    margin-left:2%;
}

#background_black{
    position:fixed;
    top:0%;
    left:0%;
    width:100%;
    height: 100%;
    display:none;
    background-color: black;
    opacity: 0.5;
    filter: blur(100px);
}

#contribute{
    border-radius: 15px;
    position:fixed;
    left: 27.5%;
    top:30%;
    display:none;
    width:45%;
    background-color: rgb(255, 255, 255);
}


#contribute_heading{
    background-color: rgb(72, 104, 134);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align:center;
}

#contribute_heading p{
    display:inline-block;
}

#contribute_heading p:first-child{
    color:white;
    margin-left:6%;
}

#contribute_heading p:last-child{
    color:white;
    cursor:pointer;
    float:right;
    margin-right: 5%;
}

#contribute_form{
    margin-left: 11%;
    margin-top:5%;
}

#submit{
    margin-top:5%;
    margin-left: 40%;
    margin-bottom:3%;
    cursor:pointer;
}

#loading{
    display:none;
    text-align:center;
}

#success{
    display:none;
    text-align: center;
}

#success img{
    margin-top:5%;
    width:20%;
}

#success p{
    margin-top:5%;
}

#error{
    display:none;
    text-align: center;
}

#error img{
    margin-top:5%;
    width:20%;
}

#table_submissions{
    margin-top:2%;
    display:table;
    flex: 0 1 auto;
}

.tr{
    display:table;
    text-align: center;
    width:100%;
}

.td{
    display:table-cell;
    vertical-align: middle;
}
.td_1{
    width:5%;
    float:left;
}
.td_2{
    width:20%;
}
.td_3{
    width:15%;
}
.td_4{
    width:15%;
}
.td_5{
    width:45%;
}

.download{
    width:27%;
    margin-top:28%;
    cursor:pointer;
}

.content{
    margin-top:1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    display:none;
}

.content:hover{
    background-color: rgb(191, 220, 246);

    border-radius: 7px;
}

.report_info{
    cursor:pointer;
}

.win_img{
    width:12%;
    margin-right:2%;
}

.hash{
    text-align:left;
    padding-left:7%;
}

.hash p{
    display:inline-block;
    font-size:11px;
    margin-top:0%;
    margin-bottom:0%;
}

.hash p:first-child{
    width:10%;
}


.info div{
    display:inline-block;
    margin-left:3%;
}

.info p{
    text-align:left;
    margin-top:0;
    margin-bottom:0;
}

body{
    display:flex;
    flex-direction: column;
    height:100%;
    justify-content: center;
}

.pages{
    flex: 1 1 fill;
    text-align: center;
}

.pages p{
    display:inline-block;
    padding:0.5% 1% 0.5% 1%;
    cursor:pointer;
    border-radius:7px;
}

.pages p:hover{
    background-color:rgb(147, 196, 252);
}

.pages label{
    cursor:pointer;
    padding:8px;
    border-radius:7px;
}

.pages ul input:checked + label {
    background-color: rgb(161, 203, 241);
}

#table_uploads{
    text-align: center;
    display:none;
    margin-top:1%;
}


#table_uploads p{
    float:left;
    width: 25%;
}

hr{
    color:black;
    width:90%;
    margin-top: 0;
    margin-bottom: 0;
}

.upload_headers{
    margin-top:1%;
}
.upload_headers p{
    margin:0;
    margin-bottom:1%;
}

